@font-face {
    font-family: pokemon;
    src: url(./fonts/Pokemon\ Solid.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 112.25%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to bottom, #00bfff, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    width: 80%;
}

h1 {
    font-family: pokemon;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: #0075BE;
    color: #FFCC00;
    font-size: 2.75rem;
    margin-top: -35px;
}

input,i.fa-magnifying-glass {
    border-radius: 2px 0 0 2px;
    border: none;
    height: 30px;
    width: 250px;
    padding: 3px 6px;
}

.input {
    display: flex;
}

i.fa-magnifying-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 35px;
    padding: 2px 5px;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid rgba(128, 128, 128, 0.797);
    cursor: pointer;
}

.container {
    width: 300px;
    margin-top: 1.5%;
    margin-bottom: 1%;
    background-color: transparent;
    border: 4px solid #f03e3e;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

#card {
    position: relative;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    background: radial-gradient(circle at 50% 0%, #f03e3e 36%, transparent 36%);
}

#card img {
    display: block;
    max-height: 200px;
    position: relative;
    margin: 10px auto 0;
}

.hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
}

.poke-name {
    text-align: center;
    font-weight: 600;
}

.poke-name::first-letter{
    text-transform: capitalize;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 10%;
}

.stats p {
    color: #404060;
}

#capturar {
    margin-top: 1.5%;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#capturar:hover {
    background-color: rgb(222, 222, 222);
    opacity: 0.9;
} 